[Unit]
Description=HomeBus Air Quality Index publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-aqi

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-aqi.rb
TimeoutSec=30

Restart=always

[Install]
WantedBy=multi-user.target

